*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/*Accueil*/

.back{
    background-image: url(img/FOND.png);
    height: 100vh;
    width: 100vw;
   opacity: 85%;
    background-size: cover;
    background-position: center;
  }
.navbar{
    background-color:rgba(255, 255, 255, 0.618);
    display: flex;
   justify-content: space-between;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    height: 90px; 
  }
.logoac img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 40vw;
   
}
  .navbar li{
    float: left;
    overflow: hidden;
  }

  .UL li{
    display: flex;
    color: #65451F;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #65451F;
    margin: 10px;
    font-weight: 500;
    transition: 0,6s ease ; 
    list-style: none;
}


.UL li:hover{
    background: #C0AA8C;   
    color: white;
}
/* 
.arriere{
    height: 25vh;
    width: 70vw;
    background-color:rgba(255, 255, 255, 0.414);
   display: flex;
   align-content: center;
   align-items: center;
   margin: auto;
   margin-top: 27vh;
   border-radius: 10%;
   */


.titre1 h1{
    text-align: center;
    color:white;   
   text-shadow:5px 5px 5px #65451F;
   margin-top: 20%;
   font-size: 6vh;
}

/*Présentation*/

body{
    background-color: white;
    background-size: cover;
    background-position: top center;
    width: 100%;
    position: fixed;
    height: 100vh;
}


.titre2 {
    color: #C0AA8C;
    width: 50%;
    margin-bottom: 50%;
    margin-left: 10%;
}

.rectanglemarron{
    display: flex;
    align-items: center;
    margin-top: 24%;
    height: 40vh;
    width: 90vw;
    background-color: #C0AA8C;
    color: white;
    margin-left: 6vw;
    
}


.imgdroite img{
    height: 70vh;
    width: 30vw;
   margin-right: 10vw;
   margin-bottom: 40%;
}

 div .texte{
 font-size: 3vh;
 margin-left: -20vw;
}

/*Compétence*/


.back2{
    background-image: url(img/TEST.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: fixed;
} 

.titre3{
    color: white;
    text-align: center; 
    margin-top: 3%;
    font-size: 3vh;
 
}
.lesformes{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 15%;
    

}

.forme1{
    border-radius: 100% 100%  0% 0% ;
    background-color:#A59682;
    height: 20vh;
    width: 10vw;
    border: 1px solid white;
    margin-right: 39vw ;
   
    
}

.forme2{
    border-radius:  100% 100%  0% 0% ;
    background-color:#A59682;
    height: 20vh;
    width: 10vw;
    border: 1px solid white;
    
}

.ul1 {
    height: 200px;
    width: 150px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vh;
    padding: 20%;
    list-style: none;
    line-height: 15px;
}

.ul2 {
    height: 200px;
    width: 150px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1vh;
    padding: 20%;
    line-height: 15px;
    list-style: none;
}

/*DWWM*/

.total{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
   

}
.cotedroit{
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;  
    margin-top: 10vh;
    margin-left: 15vw;
}

.cube{
    
    height: 95vh;
    width: 47vw;
    background-color: rgba(0, 0, 0, 0.163);
    margin-top: 50%;
    vertical-align: middle;
}


.titre4{
    color: white;
    text-align: center; 
    width: 20vw;
    margin-left: 30%;
    line-height: 7vh;
   font-size: 4vh;
   
}


.cotegauche{
   height: 100%;
   width: 40%;
   background-image: url(img/pexels-karolina-grabowska-4207892.jpg);
   background-position: center;
   background-size: cover;
}

.totalskill{
display: flex;
width: 50vw;
height: 10vh;

}

.skill{
    width: 10vw;
    margin: auto;
}

.skill img{
    aspect-ratio: 1;
    width: 4vw;
}

.skill2{
    display: flex; 
    justify-content: flex-start;
    flex-direction: row;
    margin: auto;
    width: 50vw;
}
.rondNoir{
    width: 30px; 
  height: 30px; 
  background-color: black; 
  border-radius: 50%; 
  margin-right: 5%;
}
.rondBlanc{
    width: 30px; 
    height: 30px; 
    background-color:white; 
    border: 3px solid black;
    border-radius: 50%; 
      
}
.skill .skill2{
    display: flex;
    
}

/*CM*/

.total2{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
}
.cotedroit2{
    height: 100vh;
    width: 45vw;
    background-image: url(img/pexels-karolina-grabowska-6805420.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
 }

.cotegauche2{
    height: 100vh;
    width: 55vw;
    display: flex;
    flex-direction: column;  
    margin-top: 30vh; 
    margin-left: 16vw;
}

.cube2 {
        position: absolute; /* Utilisez position: absolute */
        z-index: 3;
        height: 80vh;
        width: 47vw;
        background-color: rgba(0, 0, 0, 0.163);
       margin-top: 20%;
        right: 0; 
   
}

.titre5{
    color: white;
    text-align: center;
    margin-top: 30%;
    width: 20vw;
    margin-left: 30%;
    line-height: 7vh;
    font-size: 5vh;
}

.totalsky{
display: flex;
width: 50vw;
height: 10vh;

}

.sky{
    width: 10vw;
    margin: auto;
}

.sky img{
     width: 7vw;
}

.sky2{
    display: flex; 
    justify-content: flex-start;
    flex-direction: row;
    width: 50vw;
  
}
.rondNoir{
    width: 30px; 
  height: 30px; 
  background-color: rgb(124, 96, 62); 
  border-radius: 50%; 
  margin-right: 5%;
  margin: 4%;
}
.rondBlanc{
    width: 30px; 
    height: 30px; 
    background-color:white; 
    border: 2px solid black;
    border-radius: 50%; 
    margin: 4%;
      
}

.sky p{
    color: #CFC2B2;
    font-size: medium;
}

/*Contacts*/

body .global{
    background-image: url(img/marbre.png);
    opacity: 80%;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 0%;
    margin: 0%;
  
}


.logoac img{
    margin-top: 5%;
    margin-left: 5%;
    height: 60px;
    width: 60px;
   
}

.logoac{
    height: 60px;
    width: 60px;
    border-radius: 50% ;
}


.merci{
    height: 200px;
    width: 100%;
    text-align: center;
   font-size: 30px;
   color: white;
   margin-right: 3%;

}

.logotitre{
    display: flex;
    flex-direction: row-reverse;
    height: 100px;
    letter-spacing: 10px;
}

  input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
  }
  label{margin-right: 0px;
    margin-left: 0px;
    width: 100%;}
  
  input[type=submit] {
    background-color: #A8A088;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: black;
  }
  
  
  .container {
    box-sizing : border-box;
    border-radius:5px;
   color: white;
    padding:20px;
    width: 100%;
    max-width: 440px;
    margin:auto;
    display: flex;
    align-items: center;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.421);
  }

  form{
    width: 800px; 
  }
  
  form  .lecontact{
    margin-bottom: 10%;
  }
/* 
  @media screen and (max-width: 480px){
    .merci { font-size: 20px; 
    }  
  } */



